services:
  r1:
    image: frrouting/frr:latest
    container_name: bgp_r1
    privileged: true
    environment:
      - FRR_LOG_STDERR=1
      - FRR_IPV6=0
    networks:
      net_ab:
        ipv4_address: 10.0.12.1
    volumes:
      - ./frr/r1/frr.conf:/etc/frr/frr.conf:ro
      - ./frr/r1/daemons:/etc/frr/daemons:ro
    tty: true
    command: >
      bash -lc "/usr/lib/frr/frrinit.sh start &&
                tail -F /var/log/frr/bgpd.log"

  r2:
    image: frrouting/frr:latest
    container_name: bgp_r2
    privileged: true
    environment:
      - FRR_LOG_STDERR=1
      - FRR_IPV6=0
    networks:
      net_ab:
        ipv4_address: 10.0.12.2
      net_bc:
        ipv4_address: 10.0.23.2
    volumes:
      - ./frr/r2/frr.conf:/etc/frr/frr.conf:ro
      - ./frr/r2/daemons:/etc/frr/daemons:ro
    tty: true
    command: >
      bash -lc "/usr/lib/frr/frrinit.sh start &&
                tail -F /var/log/frr/bgpd.log"

  r3:
    image: frrouting/frr:latest
    container_name: bgp_r3
    privileged: true
    environment:
      - FRR_LOG_STDERR=1
      - FRR_IPV6=0
    networks:
      net_bc:
        ipv4_address: 10.0.23.3
    volumes:
      - ./frr/r3/frr.conf:/etc/frr/frr.conf:ro
      - ./frr/r3/daemons:/etc/frr/daemons:ro
    tty: true
    command: >
      bash -lc "/usr/lib/frr/frrinit.sh start &&
                tail -F /var/log/frr/bgpd.log"

networks:
  net_ab:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.12.0/24
  net_bc:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.23.0/24
